.ContactBanner {
    height: 200px;
    background-image: linear-gradient(
        to right bottom, rgba(black, 0.6), rgba(black, 0.6)), url('../../../images/banner1Large.jpg');
    //background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 32px;
    display: flex;
    align-items: center;
    //background-attachment: fixed;

    & h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 48px;
    }

    & p {
        display: none;
        justify-content: center;
        color: white;
        font-size: 28px;
        max-width: 700px;
    }

    & button {
        display: none;
        color: black;
        background-color: #929C3B/*#94D4F3*/;
        border-color:  #929C3B;
        font-size: 28px;
        padding: 10px;
        margin-top: 10px;

        &:hover {
            color: #929C3B;
            background-color: white;
            border-color: white;
        }
    }
}



@media screen and (min-width: 750px) {

    .ContactBanner {
        height: 300px;
        
    }



}

@media screen and (min-width: 1000px) {
    .ContactBanner {
        flex-direction: column;
        justify-content: center;
        height: 350px;


        & p {
            display: block;
        }
    
        & button {
            display: block;
        }
    }

  
}
