.Header-wrapper {
    background-color: #3A3E41;
    height: 50px;
    display: flex;
    justify-content: center;
}


.Header {
    max-width: 1000px;

    &-div1 {
        display: none;
    }

    &-div2 {
        display: block;
        height: 100%;
        width: 125px;
        display: flex;
        align-items: center;
        margin-left: auto;

        & span {
            background-color: white;
            border-radius: 50%;
            padding: 5px;
            margin-left: 5px;
        }
    }
}

.icon {
    position: relative;
    top: 2px;
}


@media screen and (min-width: 1000px) {

    .Header {
        display: flex;
        align-items: center;

        &-div1 {
            display: flex;
            color: white;
            justify-content: space-around;

            & span {
                margin-left: 30px;
                display: flex;

                & p {
                    margin-left: 3px;
                }
            }
        }

        &-div2 {
            margin-left: 150px;
        }
    }
}